{% ckan_extends %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if c.userobj and not h.is_mapped(res) %}
    <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='branch_list', id=pkg.id, resource_id=res.id) }}">
      <i class="icon-edit"></i> {{ _('Edit') }}
    </a>
  {% endif %}
{% endblock %}
