{% extends 'package/resource_read.html' %}

{% block resource_content %}
  <h1>{{ _('Pending modifications') }}</h1>

  {% if c.error %}
    <div class="alert alert-danger" role="alert">Can't acces to the URL {{res.url}}</div>
  {% endif %}

  {% if not c.branches %}
    <h2>{{ _('There are no pending modifications to show.') }} <a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='create_branch', id=pkg.name, resource_id=res.id) }}" class="btn btn-default btn-primary" role="Button"><i class="icon-plus-sign-alt"></i>{{ _('Create') }}</a></h2>
  {% else %}
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ _('Title') }}</th>
          <th>{{ _('Status') }}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for branch in c.branches %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{branch.title}}</td>
            <td>{% if branch.status == 'pending' %}<i class="icon-time"></i>{% elif branch.status == 'accepted' %}<i class="icon-check" style="color:green;"></i>{% elif branch.status == 'discarded' %}<i class="icon-trash" style="color:red"></i>{% endif %}</td>
            <td><a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='create_branch', id=pkg.name, resource_id=res.id, branch_id=branch.id) }}"><i class="icon-edit"></i></a></td>
            <td>{% if branch.status == 'pending'%}<a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='delete_branch', id=pkg.name, resource_id=res.id, branch_id=branch.id) }}">{% endif %}<i class="icon-trash"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='create_branch', id=pkg.name, resource_id=res.id) }}" class="btn btn-default btn-primary" role="Button"><i class="icon-plus-sign-alt"></i>{{ _('Create') }}</a>
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='check_branches', id=pkg.name, resource_id=res.id) }}" class="btn btn-default btn-primary" role="Button"><i class="icon-search"></i>{{ _('Check modifications') }}</a>
  {% endif %}
{% endblock %}

{% block data_preview %}
{% endblock %}
