{% extends 'package/resource_read.html' %}

{% block resource_content %}
  {{c.patch_code|safe}}
  <a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='accept_branch', id=pkg.name, resource_id=res.id, branch_id=c.branch_id) }}" class="btn btn-success" role="Button"><i class="icon-check"></i>{{ _('Accept') }}</a>
  <a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='discard_branch', id=pkg.name, resource_id=res.id, branch_id=c.branch_id) }}" class="btn btn-danger" role="Button"><i class="icon-trash"></i>{{ _('Discard') }}</a>

{% endblock %}

{% block data_preview %}
{% endblock %}
