{% extends 'package/resource_read.html' %}

{% block resource_content %}
  <h1>{{ _('Pending modifications (Administrator)') }}</h1>

  {% if not c.branches %}
    <h2>{{ _('There are no pending modifications to show.') }}</h2>
  {% else %}
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ _('Title') }}</th>
          <th>{{ _('Status') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for branch in c.branches %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{branch.title}}</td>
            <td>{% if branch.status == 'pending' %}<i class="icon-time"></i>{% elif branch.status == 'accepted' %}<i class="icon-check" style="color:green;"></i>{% endif %}</td>
            <td><a href="{{ h.url_for(controller='ckanext.git.controller:GitController', action='check_branch', id=pkg.name, resource_id=res.id, branch_id=branch.id) }}"><i class="icon-edit"></i></a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}

{% block data_preview %}
{% endblock %}
